html,
body {
    margin: 0;
    font-family: Lexend;
}

@font-face {
    font-family: Lexend;
    src: url("./lexend.ttf");
}

body {
    background: #080808;
    color: white;
}

.marker {
    background-size: cover;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    cursor: pointer;
}

.marker.vehicle {
    background-image: url('./plane.svg');
}

.marker.home {
    background-image: url('./takeoff.svg');
}

.mapboxgl-popup {
    max-width: 200px;
}

.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: black;
}

.mapboxgl-ctrl-logo,
.mapboxgl-ctrl-attrib {
    display: none !important;
}